p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

h1, h2, h3 { color: #BC0031;}

a:link { color: #777 !important; }
a:visited { color: #777; }
a:hover { color: #BC0031 !important; }
a:active { color: #BC0031 !important; }